@{
    ViewBag.Title = "تغییر رمز عبور ";
    Layout = null;
}

<link href="~/Styles/sweetalert.css" rel="stylesheet" />
<style>

    .btn-3d-sub {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 80px;
        font-family: Helvetica;
        border-bottom: 5px solid #173814;
        border-top: none;
        border-left: none;
        border-right: none;
        background: linear-gradient(#73f6f1,#14aadb);
        color: white;
        border-radius: 10px;
        box-shadow: 0px 2px 10px grey;
        transition: 150ms ease;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    }

        .btn-3d-sub:active {
            border: none;
            border-bottom: 2px solid steelblue;
            box-shadow: 0px 1px 5px grey;
            background: linear-gradient(#1e27c6,#7196db);
            color: #FFF;
        }
</style>

<div class="row">
    <div class="row">
        <div class="col-sm-11" style="text-align:center;" onkeypress="return OnlyLatin(event)">
            <h1 style=" font-family:'B Titr';font-size:26px;">تغییر رمز عبور</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <p class="text-center" style="color:red;">از فرم زیر برای تغییر گذرواژه خود استفاده کنید.</p>
            <form method="post" id="passwordForm">
                <input type="password" class=" form-control" name="OldPassword" id="OldPassword" placeholder="رمز عبور فعلی" autocomplete="off" onkeypress="return OnlyLatin(event)">
                <input type="password" class="input-lg form-control" name="NewPassword" id="NewPassword" placeholder="رمز عبور جدید" autocomplete="off" onkeypress="return OnlyLatin(event)">
                <div class="row">
                    <div class="col-sm-6">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 کاراکتر<br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> حداقل یک حرف بزرگ
                    </div>
                    <div class="col-sm-6">
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> حداقل یک حرف کوچک<br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> دارای عدد
                    </div>
                </div>
                <input type="password" class="input-lg form-control" name="RptPassword" id="RptPassword" placeholder="تکرار رمز عبور" autocomplete="off" onkeypress="return OnlyLatin(event)">
                <div class="row">
                    <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> گذر واژه ها هم خوانی دارند
                    </div>
                </div>
                <input type="button" class="col-xs-12  btn-3d-sub" style="font-family: 'B Titr';font-size:18px; " onclick="fnChangePassword()" value="تغییر رمز عبور">
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/sweetalert-dev.js"></script>
<script>
    var lengthOk = 0;
    var letterOk = 0;
    var capitalOk = 0;
    var numberOk = 0;
    var PassOk = 0;
    $("input[type=password]").keyup(function () {
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        if ($("#NewPassword").val().length >= 8) {
            $("#8char").removeClass("glyphicon-remove");
            $("#8char").addClass("glyphicon-ok");
            $("#8char").css("color", "#00A41E");
            lengthOk = 1;
        } else {
            $("#8char").removeClass("glyphicon-ok");
            $("#8char").addClass("glyphicon-remove");
            $("#8char").css("color", "#FF0004");
            lengthOk = 0;
        }

        if (ucase.test($("#NewPassword").val())) {
            $("#ucase").removeClass("glyphicon-remove");
            $("#ucase").addClass("glyphicon-ok");
            $("#ucase").css("color", "#00A41E");
            letterOk = 1;
        } else {
            $("#ucase").removeClass("glyphicon-ok");
            $("#ucase").addClass("glyphicon-remove");
            $("#ucase").css("color", "#FF0004");
            letterOk = 0;
        }

        if (lcase.test($("#NewPassword").val())) {
            $("#lcase").removeClass("glyphicon-remove");
            $("#lcase").addClass("glyphicon-ok");
            $("#lcase").css("color", "#00A41E");
            capitalOk = 1;
        } else {
            $("#lcase").removeClass("glyphicon-ok");
            $("#lcase").addClass("glyphicon-remove");
            $("#lcase").css("color", "#FF0004");
            capitalOk = 0;
        }

        if (num.test($("#NewPassword").val())) {
            $("#num").removeClass("glyphicon-remove");
            $("#num").addClass("glyphicon-ok");
            $("#num").css("color", "#00A41E");
            numberOk = 1;
        } else {
            $("#num").removeClass("glyphicon-ok");
            $("#num").addClass("glyphicon-remove");
            $("#num").css("color", "#FF0004");
            numberOk = 0;
        }

        if ($("#NewPassword").val() == $("#RptPassword").val()) {
            $("#pwmatch").removeClass("glyphicon-remove");
            $("#pwmatch").addClass("glyphicon-ok");
            $("#pwmatch").css("color", "#00A41E");
        } else {
            $("#pwmatch").removeClass("glyphicon-ok");
            $("#pwmatch").addClass("glyphicon-remove");
            $("#pwmatch").css("color", "#FF0004");
        }
    });

    function OnlyLatin(e) {
        if (e.which < 200) {
            return true;
        }
        else {
            swal("لطفا صفحه کلید خود را انگلیسی کنید", "", "warning");
            return false;
        }
    }

    function fnChangePassword() {
        PassOk = letterOk + capitalOk + numberOk + lengthOk;

        if (PassOk != 4) {
            swal("رمز عبور انتخابی صحیح نیست!");
            return false;
        }

        else {
            var OldPassword = $("#OldPassword").val();
            var NewPassword = $("#NewPassword").val();
            if (OldPassword == "") {
                alert("لطفا رمز فعلی را وارد کنید");
                return false;
            }
            if (NewPassword == "") {
                alert("لطفا رمز جدید را وارد کنید");
                return false;
            }
            if (OldPassword != "") {
                $.ajax({
                    url: "/Setting/CheckChangePassword",
                    data: { OldPassword: OldPassword, NewPassword: NewPassword },
                    type: "post",
                    datatype: "json",
                    success: function (data) {
                        //alert(data)
                        if (data == 1) {
                            alert("رمز فعلی اشتباه می باشد لطفا رمز درست را وارد کنید");
                            return false;
                        }
                        else if (data == 2) {
                            alert("لطفا رمز فعلی را وارد کنید");
                            // window.location = "../../Setting/ChangePasswordNew";
                            return false;
                        }
                        else if (data == 3) {
                            alert("لطفا رمز جدید را وارد کنید");
                            // window.location = "../../Setting/ChangePasswordNew";
                            return false;
                        }
                        else if (data == 6) {
                            alert("رمز جدید با موفقیت ثبت شد");
                            window.location = "../../Home/Login";
                        }
                        else if (data == 8) {
                            alert("خطا در ثبت :لطفا از سایت خارج شوید");
                            window.location = "";
                        }
                    }
                });
            }

            else {

                alert("لطفا اطلاعات را کامل کنید");
                return false;
            }
        }
    }

</script>